.banner{
    background: url('../../images/hero.jpg') no-repeat center center;
    width: 100vw;
    height: 97vh;
    position: relative;
    &:before{
        content: '';
        width: 100vw;
        height: 97vh;
        background-color: $color-green-medium;
        opacity: 0.8;
        display: block;
    }
    // &:after{
    //     content:'';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100vw;
    //     height: 30vh;
    //     border-left: 50px solid transparent;
    //     border-right: 50px solid transparent;
    //     border-top: 50px solid #2f2f2f;
    // }
    .logo-brand{
        width: 80px;
        position: absolute;
        top: 60px;
        left: 30px;
        img{
            width: 100%;
        }
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
        transform: translateY(-50%);
        color:$color-white;
        text-align: center;
        letter-spacing: 15px;
        text-transform: uppercase;
        &--title{
            font-size: 3.5rem;
            text-transform: uppercase;
        }
        &--desc{
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }
}