.btn{
    padding: 2rem 3.5rem;
    border-radius: 3rem;
    font-size: $font-size-main;
    cursor: pointer;
    border:none;
    position: relative;
    transition: all .2s;
    text-transform: uppercase;
    &:focus{
        outline: none;
    }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    &:active{
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 0.5rem rgba($color-black, .2);
    }
    &:after{
        content:'';
        @extend .btn;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all .5s;
    }
    &:hover{
        &:after{
            transform: scale(1.5);
            opacity: 0;
        }
    }
}

.btn-outline{
    cursor: pointer;
    padding:.5rem;
    border-bottom: 1px solid $color-green-medium;
    transition: all 300ms ease-in-out;
    display: inline-block;
    &:hover{
        background: $color-green-medium;
        color: $color-white!important;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        transform: translateY(-.2rem);
    }
}

.btn--primary{
	background: $color-white;
    color: $color-main;
    &:after{
        background: $color-white;
    }
}
.btn--success{
	background: $color-green-light;
    color: $color-white;
    &:after{
        background: $color-green-light;
    }
}
.btn--top{
    animation: button 1s ease-in-out 1.2s;
    animation-fill-mode:backwards;
}