.card{
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 52rem;
    &__side{
        position: absolute;
        top: 0;
        left: 0;
        height: 52rem;
        transition: all 0.8s ease;
        backface-visibility: hidden;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
        &__heading{
            &--1{
                background-image: linear-gradient(to right bottom,rgba($color-orange-light, 0.3),rgba($color-orange-dark, 0.9)), url('../../images/nat-5.jpg');
            }
            &--2{
                background-image: linear-gradient(to right bottom,rgba($color-green-light, 0.3),rgba($color-green-dark, 0.9)), url('../../images/nat-5.jpg');
            }
            &--3{
                background-image: linear-gradient(to right bottom,rgba($color-blue-light, 0.3),rgba($color-blue-dark, 0.9)), url('../../images/nat-5.jpg');
            }
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 45%;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            background-blend-mode: screen;
        }
        &__title{
            text-align: right;
            position: absolute;
            top: 15rem;
            right: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 2.8rem;
            color: $color-white;
            width: 75%;
        }
        &__title-span{
            padding: 1rem 2rem;
            box-decoration-break: clone;
            &--1{
                background: linear-gradient(
                    to right bottom,
                    rgba($color-orange-light, 0.9),rgba($color-orange-dark, 0.5));
            }
            &--2{
                background: linear-gradient(
                    to right bottom,
                    rgba($color-green-light, 0.9),rgba($color-green-dark, 0.5));
            }
            &--3{
                background: linear-gradient(
                    to right bottom,
                    rgba($color-blue-light, 0.9),rgba($color-blue-dark, 0.5));
            }
        }
        &__content{
            text-align: center;
            padding: 2rem;
            ul{
                list-style: none;
                li{
                    padding-bottom: 2rem;
                    &:not(:last-child){
                        border-bottom: 1px solid rgba($color-main,.3);
                    }
                } 
            }
        }
        &__text{
            color: $color-white;
            font-weight: 700;
            font-size: 1.8rem;
            text-transform: uppercase;
            padding-top: 8rem;
        }
        &__price{
            color: $color-white;
            font-size: 5rem;
            padding-top: 2rem;
            margin-bottom: 10rem;
        }
        &--front{
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);
            &--1{
                background: linear-gradient(to left bottom, $color-orange-light,$color-orange-dark);

            }
            &--2{
                background: linear-gradient(to left bottom, $color-green-light,$color-green-dark);

            }
            &--3{
                background: linear-gradient(to left bottom, $color-blue-light,$color-blue-dark);

            }
        }
    }
    &__footer{
        text-transform: uppercase;
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }
}