.composition{
    position: relative;
    .composition__item{
        width: 55%;
        position: absolute;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        border-radius: 0.2rem;
        transition: all 300ms ease-in-out;
        outline-offset: 1.5rem;
        z-index: 9;
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
        &:first-child{
            top: 0;
            left: 0;
        }
        &:nth-child(2){
            top: 4rem;
            right: 0;
        }
        &:last-child{
            top: 10rem;
            left: 20%;
        }
        &:hover{
            z-index: 20;
            border-color: $color-green-dark;
            transform: scale(1.1);
            outline: 1.5rem solid $color-green-dark;
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        }
    }
}