.quote__box{
    width: 70%;
    background: rgba($color-white, 0.9);
    box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
    border-radius: 3px;
    margin:0 auto;
    @include clear-fix;
    padding-bottom: 4rem;
    transform: skewX(-12deg);
    margin-bottom: 10rem;
    padding: 3rem;
    & > *{
        transform: skewX(12deg);
    }
    &__image{
        width: 18rem;
        height: 18rem;
        clip-path: circle(50%);
        float: left;
        shape-outside: circle(45%);
        margin: 2rem;
        text-align: center;
        overflow: hidden;
        img{
            height: 100%;
            transition: all 500ms ease;
            transform: translateX(-4rem) scale(1.4);
        }
    }
    &__caption{
        color: #fff;
        text-transform: uppercase;
        font-size: 2.3rem;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 500ms ease;
        opacity: 0;
        backface-visibility: hidden;
    }
    &:hover{
        .quote__box__image{
            img{
                transform: translateX(-4rem) scale(1);
                filter: blur(3px) brightness(70%);
            }
        }
        .quote__box__caption{
            top: 50%;
            opacity: 1;
        }
    }
}