// font fontawesome
@font-face {
	font-family:fontawesome;
    src:url('../../lib/font-awesome/fonts/fontawesome-webfont.ttf');
}
// Lato font
@font-face {
	font-family:lato_regular;
    src:url('../../fonts/Lato-Regular.ttf');
}
@font-face {
	font-family:lato_bold;
    src:url('../../fonts/Lato-Bold.ttf');
}
@font-face {
	font-family:lato_light;
    src:url('../../fonts/Lato-Light.ttf');
}