.text-success{
	color: $color-green-dark!important;
}

.text-center{
	text-align: center!important;
}
//padding-bottom
.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}
.pb-5{
    padding-bottom: 5rem;
}

//margin-top
.mt-1{
    margin-top: 1rem!important;
}
.mt-2{
    margin-top: 2rem!important;
}
.mt-3{
    margin-top: 3rem!important;
}
.mt-4{
    margin-top: 4rem!important;
}
.mt-5{
    margin-top: 5rem!important;
}

//form
.form-group{
    padding-bottom: 3rem;
    position: relative;
}
.form-control{
    display: block;
    padding: 1.5rem 2rem;
    width: 90%;
    border-radius: 3px;
    background-color: rgba($color-white, .5);
}

//link
.link-footer{
    transition: transform .2s ease;
    color: $color-white;
    &:hover{
        transform: rotate(5deg) scale(1.3);
        box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
        color: $color-green-dark;
    }
}