.text-success{
	color: $color-green-dark!important;
}

.text-center{
	text-align: center!important;
}
//padding-bottom
.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}
.pb-5{
    padding-bottom: 5rem;
}

//margin-top
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}

//form
.form-group{
    padding-bottom: 5rem;
}
.form-control{
    padding: 1.4rem 1.5rem;
    width: 80%;
    border: 0;
    border-radius: 3px;
    &:focus{
        outline: none;
        border-bottom: 5px solid $color-black;
    }
}