.text-success{
	color: $color-green-dark!important;
}

.text-center{
	text-align: center!important;
}
//padding-bottom
.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}
.pb-5{
    padding-bottom: 5rem;
}

//margin-top
.mt-1{
    padding-top: 1rem;
}
.mt-2{
    padding-top: 2rem;
}
.mt-3{
    padding-top: 3rem;
}
.mt-4{
    padding-top: 4rem;
}
.mt-5{
    padding-top: 5rem;
}