//##font style
$font-body: lato_regular, Arial, sans-serif;
$font-awesome:fontawesome;
$font-lato-light:lato_light;
$font-lato-bold:lato_bold;

//##color
$color-main: #777;
$color-black:#000;
$color-white:#fff;
$color-green-light: #7ed56f;
$color-green-medium: #55c57a;
$color-green-dark: #28b485;

//##background color
$bg-gray: #f7f7f7;

//##font-size
$font-size-main: 1.6rem;
$font-size-regular:1.8rem;
$font-size-x-regular:2.0rem;
$font-size-large: 2.4rem;
$font-size-x-large :3.0rem;

//##lineheight
$line-height-main: 1.7;
$line-height-small: 1.3;

//Responsive
$width-container: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;