//nav fixed
.nav-fixed{
    width: 70px;
    height: 70px;
    background-color: $color-white;
    border-radius: 50%;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    transition: all 500ms ease;
    z-index: 999;
    &:hover{
        .nav-icon::before{
            top: 12px;
        }
        .nav-icon::after{
            top: -12px;
        }
    }
    &.bar-transform{
        transition: all 500ms ease;
        .nav-icon{
            appearance: checkbox;
            &:before,&:after{
                top: 0px;
            }
            &:before{
                transform:rotate(45deg)
            }
            &:after{
                transform:rotate(-45deg)
            }
        }
    }
    .nav-icon{
        width: 30px;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &:before,&:after{
            width: 30px;
            height: 2px;
            background: #000;
            content: '';
            top: 8px;
            position: absolute;
        }
        &:after{
            top: -8px;
        }
    }
}

//banner
.banner{
    background-image:linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),rgba(40, 180, 133, 0.164)),
        url('../../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 95vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    .logo-brand{
        width: 80px;
        position: absolute;
        top: 40px;
        left: 40px;
        img{
            width: 100%;
        }
    }
    .text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        .banner__caption{
            color: $color-white;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 40px;
            &__main{
            font-size: 4.5rem;
            animation: title 2s ease-in-out;
            display: block;
            letter-spacing: 35px;
            font-weight: 400;
            }
            &__sub{
                font-size: 1.8rem;
                display: block;
                animation: desc 2s ease-in-out;
                letter-spacing: 14px;
            }
        }
        .btn-animation-top{
            animation: button 1s ease-in-out 1.2s;
            animation-fill-mode:backwards;
        }
    }
}