@keyframes to-right{
    0% {left: 45%; opacity: 0;}
    50% {left: 52%; opacity: 1;}
    100% {left: 50%; opacity: 1;}
}
@keyframes to-left{
    0% {left: 50%; opacity: 1;}
    50% {left: 52%; opacity: 1;}
    100% {left: 45%; opacity: 0;}
}