footer
    .footer-box
        .footer__brand
        .footer__adress
            mixin address-item(name)
                ul
                    li
                        a(href="")= name
            +address-item(company)
            +address-item(contact us)
            +address-item(carrers)
            +address-item(privacy policy)
            +address-item(terms)
        .footer__info
            span 
            | Built by JONAS SCHMEDTMANN for his online course ADVANCED CSS AND SASS. Copyright © by Jonas Schmedtmann. You are 100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, Jonas Schmedtmann, is of course highly appreciated!