footer.footer
	.footer__logo
		img(src="../../images/logo-green-1x.png", alt="logo footer")
	.row
		.col-1-of-2
			.footer__nav
				ul.clear-fix
					li: a(href="").link-footer company
					li: a(href="").link-footer contact us
					li: a(href="").link-footer carrers
					li: a(href="").link-footer privacy policy
					li: a(href="").link-footer terms
		.col-1-of-2
			.footer__copyright
				p
					| Copyright © by 
					a(href="").link-footer Leenguyenz
					| . Feel free to use this project for your own purposes.