footer.footer
	.footer__logo
		img(src="../../images/logo-green-1x.png", alt="logo footer")
	.footer__content.clear-fix
		.footer__nav
			ul
				li: a(href="").link-footer company
				li: a(href="").link-footer contact us
				li: a(href="").link-footer carrers
				li: a(href="").link-footer privacy policy
				li: a(href="").link-footer terms
		.footer__copyright
			p
				| Copyright © by 
				a(href="https://leenguyenz.github.io/" target ="_blank").link-footer Leenguyenz 
				| . Free to use project for your purposes.