footer.footer
	.footer__address
		ul
			li: a(href="") company
			li: a(href="") contact us
			li: a(href="") carrers
			li: a(href="") privacy policy
			li: a(href="") terms
	.footer__brand
		img(src="../../images/logo-green-1x.png", alt="")
	.footer__info
		span 
		| Built by JONAS SCHMEDTMANN for his online course ADVANCED CSS AND SASS. Copyright © by Jonas Schmedtmann. You are 100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, Jonas Schmedtmann, is of course highly appreciated!