nav
	ul.navbar
		mixin nav-item(name)
			li.nav-item
				a.nav-link(href="#")= name
		+nav-item("01 About natours")
		+nav-item("02 Your benefits")
		+nav-item("03 Popular tours")
		+nav-item("04 Stories")
		+nav-item("05 Book now")