section.nav-fixed
    .nav-icon
section.banner
    .logo-brand
        a(href="")
            img(src="../images/logo-white.png", alt="")
    .text-box
        h1.banner__caption
            span.banner__caption__main Outdoors
            span.banner__caption__sub is where life happens
        button.btn.btn-primary.btn-animation-top Discover our tours
section.adventure
section.benefits
section.popular
section.testimonial
section.booking