.container
    section.nav-fixed
        .nav-icon
    section.banner
        .logo-brand
            img(src="../images/logo-white.png", alt="")
        .banner__caption
            h1.banner__caption--title Outdoors
            h4.banner__caption--desc is where life happens
            button.btn.btn-primary Discover our tours
    section.adventure
    section.benefits
    section.popular
    section.testimonial
    section.booking