section.nav-fixed
    .nav-icon
section.banner
    .banner__logo
        a(href="")
            img(src="../images/logo-white.png", alt="")
    .banner__text-box
        h1.heading-primary
            span.heading-primary--main Outdoors
            span.heading-primary--sub is where life happens
        button.btn.btn--primary.btn--top Discover our tours

section.adventure
    h2.heading-secondary.text-center.pb-2 Exciting tours for adventurous people
    .row
        .col-1-of-2
            h3.heading-sub.pb-1= text
            p.paragraph= dummy
            h3.heading-sub.pb-1= text
            p.paragraph= dummy
            a(href="#").btn-outline.text-success Learn more &rarr;
        .col-1-of-2.adventure__slide
            .adventure__slide__item
                img(src="../images/nat-1.jpg", alt="nat1")
            .adventure__slide__item
                img(src="../images/nat-2.jpg", alt="nat2")
            .adventure__slide__item
                img(src="../images/nat-3.jpg", alt="nat3")
section.benefits
section.popular
section.testimonial
section.booking