section.nav-fixed
    .nav-icon
section.banner
    .banner__logo
        a(href="")
            img(src="../images/logo-white.png", alt="")
    .banner__text-box
        h1.banner__caption
            span.banner__caption--main Outdoors
            span.banner__caption--sub is where life happens
        button.btn.btn--primary.btn--animation--top Discover our tours
section.adventure
section.benefits
section.popular
section.testimonial
section.booking